<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2> Current AI Engine (all questions)</h2>

<table style="width: 50%;">
  <tr>
    <th>Training Question(base Question)</th>
    <th>Corresponding Report ID</th>
  </tr>
  {% if data_set %}
  {% for data in data_set %}
  <tr>
    <td>{{data.question}}</td>
    <td>{{data.answer}}</td>
  </tr>
  {% endfor %}
  {% else %}
    <p>No dataset found</p>
  {% endif %}

</table>

</body>
</html>